$clr-pri: #011627;
$clr-bck: #fdfffc;
$clr-emp: #FF9F1C;
$clr-emp2: #E71D36;
$clr-fde: rgba(255,255,255,0.75);
$clr-flt: #fdfffc;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}